/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f5f7fa;
    color: #1e293b;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 3rem 1.5rem;
}

/* HERO-NOSOTROS */
.hero-nosotros {
    margin-top: 70px;
    background: url(../assets/hero-agua.jpg) center/cover;
    color: #f5f7fa;
    padding: 10rem 1.5rem;
}

.hero-text {
  display: none;
}

/* HISTORIA */
.historia {
    text-align: left;
}

.historia-texto h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #0f172a;
}

.historia-texto p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.historia-texto strong {
    color: #0ea5e9;
}

/* VALORES */
.valores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.valores-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.valores-card:hover {
  transform: translateY(-5px);
}

.icon-container {
  width: 70px;
  height: 70px;
  background-color: #f0f7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.icon-main {
  color: #007bff;
  font-size: 2rem;
}

.valores-card h3 {
  color: #003366;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* MISIONVISION */
.mision-vision {
  padding: 2rem 1rem;
}

.mision-vision h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.mv-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mv-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.mv-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.mv-icon-circle {
  width: 45px;
  height: 45px;
  background-color: #0056b3;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Evita que el círculo se deforme */
  font-size: 1.2rem;
}

.mv-card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #003366;
}

/* STATS */
.stats {
  background-color: #ffffff;
  padding: 2rem 1rem;
  border-top: 1px solid #eee;
  margin-top: 30px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.5rem;
  text-align: center;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-icon {
  font-size: 2rem;
  color: #f39c12;
  margin-bottom: 0.5rem;
}

.stat-text h4 {
  font-size: 1.2rem;
  color: #003366;
  margin: 0;
}

.stat-text p {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}

/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 768px) {

  .valores-grid {
    flex-direction: row;
  }

  .mv-grid {
    flex-direction: row;
    justify-content: center;
  }
  
  .mv-card {
    flex: 1;
    max-width: 450px;
  }

  .stats {
    margin-top: 100px;
  }

  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .stat-item {
    flex-direction: row; 
    gap: 10px;
    text-align: left;
  }

  .historia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
  }

.hero-text p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    color: #dbeafe;
    font-weight: 500;
    text-align: right;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .hero-nosotros {
    height: 80vh;
    padding: 8rem 7rem;
  }

  .hero-nosotros h1 {
    font-size: 3.5rem;
  }

  .hero-nosotros p {
    font-size: 1.3rem;
  }

  section {
    padding: 5rem 6rem;
  }

  .valores h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  .valores-grid {
    justify-content: center;
    padding-top: 50px;
  }

  .valores-card h3 {
    font-size: 2rem;
  }

  .valores-card {
    font-size: 1rem;
  }

  .mision-vision {
    justify-content: center;
  }

  .mision-vision h2 {
    font-size: 3rem;
    margin-bottom: 50px;
  }

}
